#encoding: utf-8
= form_for(@atleta) do |f|
  - @atleta.errors.full_messages.each do |msg|
    %li
      = msg
  %div
    = f.label :nome
    = f.text_field :nome

  %div
    = f.label :email
    = f.text_field :email

  %div
    = f.label :posicao
    = f.text_field :posicao

  %div
    = f.label :telefone
    = f.text_field :telefone

  %div
    = f.label :foto
    = f.text_field :foto

  %div
    = f.label 'Mês do ultimo pagamento'
    = f.text_field :ultimo_pagamento

  = f.submit class: 'btn btn-primary'